.DS_Store

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
migrations
.env
db.sqlite3

### Coverage ###
htmlcov/
.coverage
.coverage.xml
*.cover
man/

### NodeJS ###
node_modules

### Environment ###
pyvenv.cfg
bin/
lib/
lib64
